# Requirements needed when generating releases. See BUILD.rst for details.
invoke >= 0.20
rellu >= 0.6
docutils >= 0.14
robotframework >= 3.2.1
robotframework-seleniumlibrary >= 4.4.0
selenium >= 3.141.0

